<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADMOB_BANNER_AD_ID</key>
	<string>$(ADMOB_BANNER_AD_ID)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>GADApplicationIdentifier</key>
	<string>$(ADMOB_APP_ID)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>SA_API_KEY</key>
	<string>$(SA_API_KEY)</string>
	<key>SKAdNetworkItems</key>
	<string>cstr6suwn9.skadnetwork</string>
</dict>
</plist>
